div(class="container d-flex flex-column justify-content-center align-items-center")
  div(class="card mt-5 col-md-6")
    h2(class="text-center") Lista de Producros
      table(class="table table-dark table-striped ")
        thead
         tr
            th Id
            th Producto
            th Precio
            th Imagen


         tbody
          each producto in productos
             tr
                 th= producto.id
                 th= producto.title
                 th= producto.price
                 th: img(class="img-thumbnail" src= producto.thumbnail alt= producto.id)
          